
body {
    background-image: url("../images/bg-image.jpg");
    width: 95%;
    justify-content: center;
}

.container-fluid {
    max-width: 1350px;
}

/* 
    Navigation bar 
*/

.container {
    justify-content: center;
}

.navbar {
    background-color: #5E5C5C;
    opacity: 0.9;

    margin-bottom: 1%;
}

.nav-link {
    font-size: 2rem;
    color: #89e705;
    opacity: 1 !important;
    padding-right: 50px;
}

.nav-link:hover {
    color: #89e705;
}

.nav-link:active {
    color: #61892F;
}

.navbar-toggler {
    background-color: #89e705;
    color: #222629;
    text-align: center;
    width: 80px;
}

.navbar-toggler-icon {
    text-align: center;
}


/* 
    Content 
*/

.content {
    background-color: #5E5C5C;
    opacity: 0.8;
    padding: 5%;
    margin-bottom: 5%;
}

.img-fluid {
    opacity: unset !important; 
}

article {
    color: #89e705;
}

p {
    font-size: 1.2rem;
    opacity: 1 !important;
}


/*
    Footer
*/

footer {
    background-color: #5E5C5C;
    opacity: 0.9;
    padding: 4%;
}

address {
    font-size: 1.5rem;
    color: #86c232;
}