


body {
    background-image: url("../images/bg-image.jpg");
    width: 95%;
    justify-content: center;
}

.container-fluid {
    max-width: 1350px;
}

/* 
    Navigation bar 
*/

.container {
    justify-content: center;
    
}

.navbar {
    background-color: #5E5C5C !important;
    opacity: 0.9;
    margin-bottom: 2%;
    align-items: center;
}

.nav-link {
    font-size: 2rem;
    color: #89e705 !important;
    opacity: 1 !important;
    margin-right: 10%;
    justify-content: center;
}

.nav-link:hover {
    color: #89e705 !important;
}

.nav-link:active {
    color: #83b644 !important;
}

.navbar-toggler {
    background-color: #89e705;
    color: #222629;
}


/* 
    Content 
*/

.content {
    background-color: #5E5C5C;
    opacity: 0.9;
    padding: 5%;
    margin-bottom: 5%;
}

.img-fluid {
    opacity: unset !important; 
}

article {
    color: #89e705 !important;
}

p {
    font-size: 1.2rem;
    opacity: 1 !important;
}

hr {
    color: #89e705;
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-primary, .btn-primary:active, .btn-primary:hover, .btn-primary:checked, .btn-primary:focus, .btn-primary:visited, .btn-primary::after {
    font-size: 1.5rem;
    background-color: #89e705 !important;
    color: #222629;
    text-align: center;
    border: 2px solid #222629;
    text-decoration: none;
    box-shadow: none !important;
    margin-bottom: 1%;
}


.card-body, .card-body:hover:after {
    background-color: rgb(253, 253, 253);
    color: black;
    font-size: 1.2rem;
    opacity: 1 !important;
}


.card-body .btn-primary {
    max-width: 150px;
}




/*
    Footer
*/

footer {
    background-color: #5E5C5C;
    opacity: 0.9;
    padding: 4%;
}

address {
    font-size: 1.5rem;
    opacity: 1 !important;
    color: #89e705 !important;
}